<!DOCTYPE html>
<html>
  <head>
    <title>BulMarket</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'bul.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <%= image_tag("bulma.png") %>
        <% end  %>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <% if current_page?(root_url) || current_page?(search_products_url) || current_page?(products_url) %>
            <a class="navbar-item" id="search-box" >Browse</a>
          <% end %>
          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to "Account", edit_user_registration_path, class: "navbar-link" %>
              <div class="navbar-dropdown">
                <%= link_to current_user.name, product_list_path(user_id: current_user.id), class: "navbar-item" %>
                <%= link_to "Track", user_locations_path(user_id: current_user.id), class: "navbar-item"%>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "navbar-item" %>
            <%= link_to "Sign up", new_user_registration_path, class: "navbar-item"%>
          <% end %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if user_signed_in? %>
                <p class="control">
                  <%= link_to 'Sell', new_product_path, class: "button is-dark is-outlined" %>
                </p>
              <% end %>
              <p class="control">
                <% if cart_has_items %>
                  <%= link_to cart_path(@cart), class: "button is-dark is-outlined" do %>
                  <span class="icon is-small">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                  <span>Cart
                    <%= cart_count_over_one %>
                  </span>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield(:header) %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
